<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Board Website</h1>
        <P><br>로그인 후 게시판을 이용해 주세요~</p>
      </div>

    </div>
  </body>
</html>
